/* 1. General properties */
/* 2. Sign in Component */

/* General properties */

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.6rem;

	background-color: #f5f5f5;
}

/* Sign in Component */

fieldset {
	border: none;
	width: 320px;

	text-align: center;
}

legend {
	font-size: 3.2rem;
	font-weight: bold;
	color: black;

	margin-bottom: 1.4rem;
}

input[type="email"],
input[type="password"] {
	margin-bottom: 1rem;

	border: 0.1rem solid #ced4da;
	border-radius: 6px;
	outline: none;

	transition: border-color 0.15s, box-shadow 0.15s;
}

input[type="email"]:focus,
input[type="password"]:focus {
	border-color: #86b7fe;
	box-shadow: 0 0 0 0.5rem #b9d3fa;
}

input[type="checkbox"] {
	outline-color: #86b7fe;
}

input[type="email"],
input[type="password"],
button {
	display: block;
	padding: 1.6rem;
	width: 100%;
}

button {
	border: none;
	border-radius: 40px;
	outline: none;

	background-color: #0d6efd;
	color: white;

	margin-top: 1rem;
}

button:hover,
button:focus {
	background-color: #0d5ed6;
	cursor: pointer;
}

p {
	color: rgb(122, 121, 121);
}